{$DOMAIN} {
	encode zstd gzip

	handle /health {
		respond "ok" 200
	}

	handle /api/* {
		reverse_proxy backend:5000
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}

	header {
		-Server
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
}
