# Salin file ini menjadi .env
# cp .env.example .env

# Port server Express
PORT=5000

# URL koneksi database (isi sesuai database yang digunakan)
DATABASE_URL=your_database_url_here

# URL Python ML Service (FastAPI)
ML_SERVICE_URL=http://localhost:8000
AI_SAMPLE_DATA_PATH=../../ai/household_daily_clean.csv
TARIFF_PER_KWH=1444.7
LOCAL_STORE_PATH=data/local-store.json

# MySQL local config
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=smart_energy_db
JWT_SECRET=secret_key_sementara

# Mode environment
NODE_ENV=development
