# Salin file ini menjadi .env
# cp .env.example .env

# Port server Express
PORT=5000

# URL Python ML Service (FastAPI)
ML_SERVICE_URL=http://localhost:8000
AI_SAMPLE_DATA_PATH=../../ai/household_daily_clean.csv
TARIFF_PER_KWH=1444.7
SQLITE_DB_PATH=data/smart-energy.sqlite

JWT_SECRET=secret_key_sementara

# Mode environment
NODE_ENV=development
